body {
    background-color: black;
}

#intro-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#typed, #main {
    font-family: Consolas, Courier-New, Monospace;
    font-size: 3em;
    color: silver;
} 

#typed span {
    color: white;
    font-weight: bold;
}

.typed-cursor {
    color: white;
    font-size: 3em;
}