body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

#intro-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#typed {
    font-family: Consolas, Courier-New, Monospace;
    font-size: 3em;
    color: #D4D4D4;
} 

#typed span {
    color:#FFFFFF;
    font-weight: bold;
}

.typed-cursor {
    color:#FFFFFF;
    font-size: 3em;
}

.navbar-custom {
    background-color: #252526;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFFFFF;
}

.navbar-brand {
    font-family: 'Roboto';
    font-size: 2.5vw;
}

.nav-link {
    color: #D0D0D0;
    font-family: Consolas, Courier-New, Monospace;
    font-size: 2vw;
}

.nav-item a:hover {
    color: #FFFFFF
}

.fa {
    padding: 5px;
    font-size: 2.75vw;
    width: 50px;
    text-decoration: none;
    color: #D0D0D0;
}

.fa:hover {
    color: #FFFFFF
}

#About {
    width: 100%;
}

.aboutText {
    margin: auto;
    width: 80%;
    font-size: 20px;
    text-align: justify;
}

#selfie {
    width: 27.7%;
    height: 27.7%;
    border-radius: 50%;
    float: left;
    margin-right: 2rem;
    shape-outside: circle();
}

/* TODO: set media query for phones and set intro font to 1.5em */
@media screen and (max-width: 850px) {
    #typed {
        font-size: 1.5em;
    }

    #aboutText {
        font-size: 3vw;
    }
}