html {
    scroll-behavior: smooth;
}

body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

#intro-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#typed {
    font-family: Consolas, Courier-New, Monospace;
    font-size: 3em;
    color: #D4D4D4;
} 

#typed span {
    color:#FFFFFF;
    font-weight: bold;
}

.typed-cursor {
    color:#FFFFFF;
    font-size: 3em;
}

.navbar-custom {
    background-color: #252526;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFFFFF;
}

.navbar-brand {
    font-family: 'Roboto';
    font-size: 2.5vw;
}

.nav-link {
    color: #D0D0D0;
    font-family: Consolas, Courier-New, Monospace;
    font-size: 2vw;
}

.nav-item a:hover {
    color: #FFFFFF
}

.fa {
    padding: 5px;
    font-size: 2.75vw;
    width: 50px;
    text-decoration: none;
    color: #D0D0D0;
}

.fa:hover {
    color: #FFFFFF
}

.card {
    background-color: #1E1E1E;
}

.card-body {
    padding: 1.25rem 0 0;
}

.card text {
    color: #D0D0D0; 
}

.card-img-top {
    height: 15vw;
    object-fit: cover;
}


#About {
    padding-top: 80px;
    padding-bottom: 25px;
}

.text {
    margin: auto;
    width: 80%;
    font-size: 20px;
}

#selfie {
    width: 20%;
    height: 20%;
    min-width: 190px;
    min-height: 190px;
    max-width: 195px;
    max-height: 195px;
    border-radius: 50%;
    float: left;
    margin-right: 2rem;
    shape-outside: circle();
}

@media screen and (max-width: 850px) {
    #typed {
        font-size: 1.5em;
    }

    #aboutText {
        font-size: 3vw;
    }

    #selfie {
        display: none;
    }
    
    .text {
        text-align: center;
    }
}