body {
    background-color: #1E1E1E;
}

#intro-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#typed, #main {
    font-family: Consolas, Courier-New, Monospace;
    font-size: 3em;
    color: #D4D4D4;
    
} 

#typed span {
    color:#FFFFFF;
    font-weight: bold;
}

.typed-cursor {
    color:#FFFFFF;
    font-size: 3em;
}

.navbar-custom {
    background-color: #252526;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFFFFF;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: relative;

    font-family: Consolas, Courier-New, Monospace;
    font-size: 3vw;
}

.fa {
    padding: 5px;
    font-size: 25px;
    width: 50px;
    text-decoration: none;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

/* TODO: set media query for phones and set intro font to 1.5em */